.internal-link {
  background-image: none;
  padding-right: 0px;
  color: grey;
  text-decoration: none;
}
.internal-link:hover{
  text-decoration: underline;
}

.internal-link:link { text-decoration: none; }


.internal-link:visited { text-decoration: none; }


.internal-link:hover { text-decoration: none; }


.internal-link:active { text-decoration: none; }

.external-link {
  background-image: none;
  padding-right: 0px;
  text-decoration: none;
}

.external-link:link { text-decoration: none; }


.external-link:visited { text-decoration: none; }


.external-link:hover { text-decoration: none; }


.external-link:active { text-decoration: none; }

.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none;
}